[Unit]
Description=Spark master
After=network.target
Requires=network-online.target

[Service]
User=spark
Group=spark
Type=forking
WorkingDirectory={{spark_home}}
Environment=SPARK_HOME={{spark_home}}
# Environment=SPARK_NO_DAEMONIZE=true
ExecStart={{spark_home}}/sbin/start-slave.sh {{spark_master}}

[Install]
WantedBy=multi-user.target
